# dependencies
node_modules

# next
.next
out

# production
build

# local env files
.env*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.cursor/*.log

# typescript
*.tsbuildinfo

# system
.DS_Store
